/***********common**********/

html, body {
    height: 100%;
    font-family: sans-serif;
}


body{

        margin: 0;
        font-family: var(--bs-font-sans-serif);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
    
}



.content{

    
    max-width: 600px;
   
    margin: 0 auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;

}



/***********post **************************************/


.post_form{
    padding: 20px 0px;
    border-bottom: 1px solid #ccc;
    width: 100%;
}



.tweet_post .user_icon
{
    width: 80px;
    padding: 5px 15px 10px 10px;
}

.tweet_post  .user_icon img {

    width: 100%;
    border-radius: 50%;
    border: 1px solid rgb(235, 238, 240);


    }

.twitter_logo{  
    padding: 10px;
    border-bottom: 1px solid rgb(235, 238, 240);
    display: flex;
    justify-content: left;
    align-items: center;
}
    



 .twitter_logo img{
    width: 50px;
    margin-right: 20px;
    }

.twitter_logo h1{

    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
    font-weight: bold;
    }

    .post_form  .bottom {
        background-color: rgb(29, 161, 242);
        color: white;
        font-size: 15px;
        font-weight: bold;
        width: 75px;
        margin: 7px;
     
        
    }


    .image{
            margin-right: 30%;
    }

    .bottom {  
  /*  display: inline-block;*/
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .tweet_post {
        display: flex;
        padding: 1px;
        width: 99%;
    }
    .botton_area{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-top: 1px solid rgb(235, 238, 240);
        padding-top: 8px;
        display: flex;
        }

    .mb-0{
        margin-bottom: 0!important;

    }
     .input-area{
        
        width: 90%;
        

    }

    form{
        display: block;
        margin-top: 0em;
    }


  /* 
    .post_form input {
        border: 0px;
        width: 100%;
        background: #e6fef7;
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 10px;

        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        }*/

    .post_form input[type=text]{

            width: 99%;
            height: 3em;
            border: 0px;
            background: #e6fef7;
            border-radius: 5px;
            margin-bottom: 10px;
            padding: 0px;
            margin: 1px;
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
        }

     .post_form textarea{
        border: 0px;
        padding: 0px;
        width: 99%;
        height: 100px;
        resize: none;

        margin: 0;
         font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        }

/*
        *, ::after, ::before {
            box-sizing: border-box;
        }*/


     
        .post ul {
            padding: 0px;
        }
        .post li {
            display: flex;
            padding: 17px;
            position: relative;   
            border-bottom: 1px solid black;
            
        }
        .post li .logo{

            flex-basis: 15%;
        }
   /* 
        .post li .menu{
            position: absolute;
            display: none;
            top: 40px;
          right: 15px;
            border: 1px solid #ccc;
            background-color: white;
            padding: 10px 15px;
            font-size: 13px;
            border-radius: 3px;
        }
        
      .post li .menu a {
            text-decoration:none ;
        }*/

        .post li .menu_icon{

            width: 20px;
            position: absolute;
            top: 18px;
            right: 30px
            
            }
            .post li .menu{
                position: absolute;
                display: none;
                top: 40px;
                right: 15px;
                
                background-color:white;
                padding: 10px 15px;
                font-size: 13px;
                border-radius: 3px;
                border: 1px solid black;

            }
            .post li .menu a {
                text-decoration:none ;
            }
            

            .post li .logo img {
                width: 60%;
            }
            
            .post li .body{
                flex-basis: 85%;
            }
            .post li .body .name{
                font-weight: bold;
            }
            .post li .body img{
            
                width: 90%;
                
                
                object-fit: cover;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-right: 5px;
    border: 1px solid rgb(197, 199, 201);
               

            }
            /*.post li .body img{
               width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-right: 5px;
    border: 1px solid rgb(197, 199, 201);
            }*/

            .content .edit_img img{
                width: 80%;
                border-radius: 10px;
                margin-bottom: 15px;
                border: 1px solid rgb(197, 199, 201);

            }

            .post li .body .datetime{
                color: gray;
            }
            @media screen  and (max-width: 500px){
                .post li .body .name {
                    font-size: 20px;
                }
            }



            .btn{

                background-color: rgb(73, 73, 73);
                color: white;
                font-size: 15px;
                font-weight: bold;
                display: inline-block;               
                line-height: 1.5;              
                text-align: center;
                text-decoration: none;
                vertical-align: middle;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;   
                border: 1px solid transparent;
                padding: .375rem .75rem;
                font-size: 1rem;
                border-radius: .25rem;
                position: relative;
                left: 30px;
              
            }



       .heart-btn {
    
        background-position: left;        
        position: absolute;
        bottom: -19px;
        left: -12px;
       
        
       }

       #img-heart{
          width: 28px; 
          height: 28px;
          border: none;
          position: relative;
          left: 110px;
          
       }
      

/*
       #heart-id{
           width: 100px;
           height: 100px;
       }


      i{
        height: 90px;
        width: 90px;
        background: url("../img/icon-heart2.png") no-repeat;
        background-position: left;        
        position: absolute;
        bottom: -19px;
        left: -12px;
        cursor: pointer;
       }*/


        .numb{
        
        margin-left: 10px;
        position: relative;
        left: 110px;
        top: -17px;
        
       }

       .heart-btn #img-heart:hover{
        height: 29px;
        width: 29px;
        filter: invert(1) sepia(1) saturate(20)hue-rotate(500deg);
        
        animation: animate .8s steps(28) 1;
       }


    
       
       @keyframes identifier {
           0%{
            height: 90px;
            width: 90px;
           }
           100%{
            height: 100px;
            width: 100px;
           }
           
       }


       .bi .bi-heart{
           
           filter: invert(1) sepia(1) saturate(20)hue-rotate(275deg);
       }


       .btn1{
        background: transparent;
        border: none;
        margin: 87px;
        font-size: 20px;
        outline: none;
        color: grey;        
        position: absolute;
        left: -117px;         
        margin-top: -28px;
        border-radius: 5px;
       }

       .btn1:hover{
           cursor: pointer;
           
           filter: invert(1) sepia(1) saturate(20)hue-rotate(275deg);
       }
       