{% extends "base.html" %} {% block content %} {% load static %} {% load cloudinary %}

<section class="content">
  <section class="post_form">
    <div class="twitter_logo">
      <a href="/">
        <img src="{% static 'img/twitter.png' %}"/>
        
      </a>
      <h1>HOME</h1>
    
      
    </div>
    <div class="tweet_post">
      <div class="user_icon">
        <img src="{% static 'img/user.png' %}" />
      </div>
      <div class="input-area">
        <form action="/" method="POST" enctype="multipart/form-data">

          {% csrf_token %}
          <input type="text" name="name" placeholder="Your name" required />
          <textarea
            name="body"
            placeholder="What's happening?"
            maxlength="140"
            required
          ></textarea>
          <div class="botton_area">
          <div class="mb-0">
              <input type="file" name="image" class="image" />
           
          </div>
            <input type="submit" value="Tweet" class="bottom" />
          </div>
        </form>
      </div>
    </div>
  </section>
  <section class="post">
    <ul>
      {% for post in posts %}
      <li>
        <img class="menu_icon js-menu-icon" src="{% static 'img/menu.png' %}" />
        <div class="menu">
            <a href="edit/{{ post.id }}"> edit </a></br>
            <a href="/delete/{{ post.id }}"> delete </a>
        </div>
        <div class="logo">
          <img src="{% static 'img/user.png' %}" />
        </div>
        <div class="body">
          <div class="name">{{ post.name }}</div>
          <div class="datetime">{{ post.created_at }}</div>
          <p>{{ post.body }}

          <img src="{{post.image.url}}">
        </p>
        <div class="heart-btn"> 
        <a href="/like/{{post.id}}/"><img src="{% static 'img/icon-heart2.png' %}" id="img-heart" class="img-heart"></a>

        <span class="numb" id="cont">  {{post.like_count}} </span>
      
      </div>

        <!--
          <div class="heart-btn"> 
            <Button id="btnh1" class="btn1"><i class="far fa-heart"></i></Button>
            <span class="numb" id="cont">0</span>
        </div>  -->
        </div>         
      </li>
      {% endfor %}
    </ul>
  </section>
  <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"
  ></script>
  <script src="{% static 'js/posts.js'%}"></script>

 

</section>

{% endblock %}
